.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -3%;
}

.nav-links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 4.5%;
    font-size: 25px;
}

@media (max-width: 1024px) {
  .nav-links{
    font-size: 14px;
  }
  .homepage-image {
    width: 100%;
  }
}

/* .collection{
  padding: 0 2%;
}

.register{
  padding: 0 2%;
}

.login{
  padding: 0 2%;
}

.signout{
  padding: 0 2%;
}

.wine-collection{
  padding: 0 2%;
} */