/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
/* body{
  background: black;
} */

.wine-collection-container{
  /* background: black;
  display: flex;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid; */

  width: 90%;
  margin:50px auto;
  background: black;
} 

.our-collection-title{
  text-align: center;
  font-size: 35px;
  /* margin-bottom: 50px; */
  color: white;
}

.wine-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
  background: white;
  margin-top: 30px;
}

.wine-name{
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #dcca8f, #925506);
  color: white;
  

}



.wine-card{
  width:20%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
  /* height: auto; */
  margin: 25px;

}

.name-year-title card-buttons{
  display:block;
  color: #fff;
  text-align: center;
  background-color: liner-gradient(to right, #ff416c #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.wine-card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
} 

.wine-row{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.name-year-title{
padding: 30px 20px;
text-align: center;
font-size: 20px;
}

@media screen and (max-width:1000px) {
  .wine-card{
    width:40%
  }
}
@media screen and (max-width:620px) {
  .wine-collection-container{
    width: 100%
  }
  .collection-title{
    padding: 20px;
    font: 30px
  }
  .wine-card{
    width: 80%
  }
}


/* add a rating button on collections pg */
.css-14mxhrp-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: transparent;
  border: solid;
  border-radius: 45px;
}

/* details button on collections pg */


/* .card-container{
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container a{
  color: black;
  font-family: teko;
  font-size: 20px;
  text-decoration: none;
}

.wine-card{
  background: white;
  margin: 10px;
  height: 600px;
  border-radius: 10px;
  padding: 80px;
 
}

.wine-img{
  height: 400px;
  margin-top: 20px;
  /* width: 100%; */
  


/* .name-year-title{
  font-family: teko;
  font-size: 20px;
}

.detail-rating-buttons{
  display: grid;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.add-rating-collection-button,
.detail-collection-button{
  text-align: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-color: rgba(31, 41, 55, var(--tw-border-opacity));

} 
  
   */