.wine-of-month-details{
  display: flex;
  width: 50%;
  border: solid;
  align-items: center;
  box-shadow: 0px 0px 15px -1px;
}

.wine-of-the-month{
  max-width: 100%;
  flex-basis: 50%;
}

.wine-of-the-month-paragraph{
  margin-right: 120px;
  margin-top: auto;
}

.homepage-image{
 flex-flow: wrap;
  background-image: url(https://ak.picdn.net/shutterstock/videos/23932171/thumb/10.jpg);  
  height: 200px;
  padding-top: 100px;
  margin-bottom: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  }


  .logo{
    width: 350px;
    margin-top: 75px;
  }

  .logo-motto{
    flex-direction: column;
    width: 50%;
    margin: -14% 1% 1%;
  }

  .truth-motto{
    margin: -9% 0;
    margin: -17% -11% 0 0;
  }

.home-bottom-screen{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -6% 1% 1%;

}

.title-paragraph{
  display: flex;
  flex-direction: column;
}


.wine-of-the-month-paragraph{
  width: 100%;
}

@media (max-width: 500px) {
  .homepage-image {
    width: 100%;
  }
  .logo-motto {
    font-size: 40px;
  }
  .divider {
    width: 250px;
  }
  .wine-of-the-month-detail {
    padding: 32px 0 0;
    font-size: 19px;
  }
  .home-bottom-screen{
    width: auto;
    margin: 0;
  }
  /* .home-cards {
    height: 250px;
  }
  .home-card-img {
    width: 100%;
  } */
  .home-card-name {
    font-size: 14px;
  }
  /* .call-to-action {
    font-size: 40px;
  } */
  .homepage-button {
    font-size: 17px;
    height: 42px;
    width: 125px;
  }
}