.wine-of-month-details{
  display: flex;
  width: 50%;
  border: solid;
  margin: 0 44%;
  align-items: center;
}

.wine-of-the-month{
  max-width: 100%;
  flex-basis: 50%;
}

.wine-of-the-month-paragraph{
  margin-right: 120px;
  margin-top: auto;
}

.homepage-image{
 flex-flow: wrap;
  background-image: url(https://ak.picdn.net/shutterstock/videos/23932171/thumb/10.jpg);  
  height: 200px;
  padding-top: 100px;
  margin-bottom: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  }
